.container {
  padding: 50px;
  display: flex;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
}

.table {
  width: 100%;
  border-spacing: 20px;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.name {
  font-weight: 500;
  color: var(--primary_clr);
  font-size: 18px;
}

.total {
  font-weight: 500;
  font-size: 18px;
}

.wrapper {
  width: 90%;
  max-height: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white_clr);
}

.totalTextTitle {
  margin-right: 10px;
}

.button {
  height: 30px;
  color: var(--primary_clr);
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .trTitle {
    display: none;
  }

  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    margin: 10px 0;
  }

  .wrapper {
    padding-top: 40px;
    width: 100%;
  }

  .total,
  .name {
    font-size: 25px;
  }

  .price,
  .extras,
  .quantity {
    font-size: 20px;
  }

  .price::before {
    content: "Price:  ";
    font-weight: 700;
    margin-right: 5px;
  }

  .quantity::before {
    content: "Quantity:  ";
    font-weight: 700;
    margin-right: 5px;
  }

  .total::before {
    content: "Total:  ";
    font-weight: 700;
    margin-right: 5px;
  }
}
