.container {
  overflow-x: hidden;
  height: calc(100vh - 100px);
  background: var(--primary_clr);
}

.arrowContainer {
  width: 10%;
  height: 20%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 5;
}

.wrapper {
  width: 300vw;
  height: 100%;
  display: flex;
  transition: all 1.5s ease-in-out;
}

.imgContainer {
  width: 100vw;
  height: 100%;
  position: relative;
}
