.container {
  height: calc(100vh - 100px);
  background: #222;
  display: flex;
}

.item {
  flex: 1;
  position: relative;
  display: flex;
}

.item:last-child {
  flex: 2;
  padding: 50px;
}

.card {
  flex: 1;
  padding: 0 20px;
}

.title {
  font-size: 18px;
  color: #b7903c;
}

.text {
  color: lightgray;
}

.moto {
  color: rgb(211, 201, 201);
}

@media screen and (max-width: 500px) {
  .container {
    height: auto;
  }
  .item:first-child {
    display: none;
  }

  .item:last-child {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .card {
    margin: 20px 0;
  }

  .text {
    margin: 15px 0;
  }

  .card:first-child {
    display: none;
  }

  .title {
    font-size: 24px;
  }
}
