:root {
  --white_clr: #f1f5f8;
  --primary_clr: #d1411e;
  --overall_font: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: var(--overall_font);
}

button {
  outline: none;
  border: none;
  border-radius: 8px;
}
