.container {
  z-index: 1000;
  height: 100px;
  padding: 0 50px;
  background: var(--primary_clr);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
}
.item:nth-child(2) {
  flex: 3;
}

.item:last-child {
  justify-content: flex-end;
}

.callButton {
  background: var(--white_clr);
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
}

.texts {
  margin-left: 20px;
  color: var(--white_clr);
}

.text:first-child {
  font-size: 12px;
  font-weight: 500;
}

.text:last-child {
  font-size: 20px;
  font-weight: bold;
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  color: var(--white_clr);
}

.listItem {
  margin: 20px;
  font-weight: 500;
}

.cart {
  position: relative;
  cursor: pointer;
}

.counter {
  top: -10px;
  width: 20px;
  right: -10px;
  height: 20px;
  padding: 5px;
  display: flex;
  color: var(--primary_clr);
  background: var(--white_clr);
  border-radius: 50%;
  position: absolute;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
