.container {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc {
  font-size: 24px;
  color: #444;
  width: 70%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Pizzacard_container {
  width: 22%;
  cursor: pointer;
  display: flex;
  padding: 20px 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Pizzacard_title {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary_clr);
}

.Pizzacard_price {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}

.Pizzacard_desc {
  text-align: center;
  color: #777;
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
  }

  .title {
    text-align: center;
  }

  .desc {
    font-size: 18px;
    width: 90%;
  }

  .Pizzacard_container {
    width: 100%;
    padding: 30px 20px;
  }

  .Pizzacard_title {
    font-size: 30px;
  }
  .Pizzacard_price,
  .Pizzacard_desc {
    font-size: 24px;
  }
}
