.container {
  display: flex;
  height: calc(100vh - 100px);
}

.left {
  flex: 1;
  height: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}

.right {
  flex: 1;
  padding: 20px;
}

.price {
  color: var(--primary_clr);
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid var(--primary_clr);
}

.sizes {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.size {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
}

.size:nth-child(2) {
  width: 40px;
  height: 40px;
}

.size:nth-child(3) {
  width: 50px;
  height: 50px;
}

.number {
  background: var(--primary_clr);
  color: var(--white_clr);
  position: absolute;
  top: -5px;
  right: -20px;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 8px;
}

.choose {
  margin: 16px 0;
}

.ingredients {
  display: flex;
  margin-bottom: 30px;
}

.option {
  display: flex;
  align-items: center;
  margin-right: 12px;
  font-size: 14px;
  font-weight: 500;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 3px;
}

.quantity {
  width: 50px;
  height: 30px;
}

.button {
  height: 30px;
  background: var(--primary_clr);
  color: var(--white_clr);
  margin-left: 10px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  padding: 0 10px;
  border-radius: 6px;
}
